* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* TELA-INICIAL */
.tela-inicial {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}
.tela-inicial img {
  width: 150px;
  margin-bottom: 94px;
}
.tela-inicial input {
  width: 261px;
  height: 54px;
  text-align: center;
  margin-bottom: 15px;
}
.tela-inicial button {
  width: 109px;
  height: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #696969;
  border: none;
  background: #e7e7e7;
  border-radius: 9px;
  transition: 0.3s linear;
}
.tela-inicial button:active {
  transform: scale(0.85);
}
.tela-inicial span {
  margin-top: 10px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background-color: #f3f3f3;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 80px;
  background-color: #ffffff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-bar ion-icon {
  font-size: 40px;
}
.nav-bar img {
  width: 75px;
  height: 53px;
}

/* FOLDER */
.send-message {
  width: 100%;
  height: 73px;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

/* TROCAR DEPOIS */
.send-message span {
  position: absolute;
  bottom: 5px;
  left: 15px;
  z-index: 5;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}
.send-message input {
  width: 100%;
  height: 100%;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 25px 17px;
}
.send-message ion-icon {
  position: absolute;
  font-size: 26px;
  z-index: 3;
  bottom: 25px;
  right: 18px;
}

.chat {
  width: 100%;
  margin-top: 100px;
}
.message-box {
  width: 100%;
  padding: 12px 6px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  word-break: break-all;
}
.status {
  background: #dcdcdc;
}
.message {
  background-color: #ffffff;
}
.private-message {
  background-color: #ffdede;
}
.hour {
  color: #aaaaaa;
  margin-right: 7px;
}
.content {
  width: 100%;
}
.user-name,
.sender {
  font-weight: 700;
}
.back-image {
  width: 100%;
  height: 100%;
  background-color: #000000;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.5;
}
.side-menu {
  width: 260px;
  height: 100%;
  background-color: #ffffff;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  padding: 10px 28px;
  overflow-y: scroll;
}
.side-menu > span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
}
.person,
.option {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.side-menu ion-icon {
  font-size: 25px;
  margin-right: 8px;
}

.person,
.option span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.invisible {
  display: none;
  opacity: 0;
}

.side-menu img {
  position: absolute;
  right: 25px;
  opacity: 0;
}

.selecionado img {
  opacity: 1;
}

/* ANIMAÇÃO DE LOADING */

/*loading animation */
.loading-screen {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-screen div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 50%;
  animation: loading-screen 1.2s linear infinite;
}
.loading-screen div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.loading-screen div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.loading-screen div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.loading-screen div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.loading-screen div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.loading-screen div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.loading-screen div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.loading-screen div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.loading-screen div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.loading-screen div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.loading-screen div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.loading-screen div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes loading-screen {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
