* {
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}
.container {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 80px;
  background-color: #ffffff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-bar ion-icon {
  font-size: 40px;
}
.nav-bar img {
  width: 75px;
  height: 53px;
}

/* FOLDER */
.send-message {
  width: 100%;
  height: 73px;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

/* TROCAR DEPOIS */
.send-message span {
  position: absolute;
  bottom: 5px;
  left: 15px;
  z-index: 5;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}
.send-message input {
  width: 100%;
  height: 100%;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 25px 17px;
}
.send-message ion-icon {
  position: absolute;
  font-size: 26px;
  z-index: 3;
  bottom: 25px;
  right: 18px;
}

.chat {
  width: 100%;
  margin-top: 100px;
}
.message-box {
  width: 100%;
  padding: 12px 6px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  /* word-break: break-all; */
}
.status {
  background: #dcdcdc;
}
.message {
  background-color: #ffffff;
}
.private-message {
  background-color: #ffdede;
}
.hour {
  color: #aaaaaa;
  margin-right: 7px;
}
.content {
  width: 100%;
}
.user-name,
.sender {
  font-weight: 700;
}
.back-image {
  width: 100%;
  height: 100%;
  background-color: #000000;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.5;
}
.side-menu {
  width: 260px;
  height: 100%;
  background-color: #ffffff;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  padding: 10px 28px;
  overflow-y: scroll;
}
.side-menu span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
}
.person,
.option {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.side-menu ion-icon {
  font-size: 25px;
  margin-right: 8px;
}

.person,
.option span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.invisible {
  display: none;
  opacity: 0;
}

.side-menu img {
  position: absolute;
  right: 25px;
  opacity: 0;
}

.selecionado img {
  opacity: 1;
}
